@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-pagination .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color: lightgray;
  opacity: 1;
}

/* 활성화된 (현재 슬라이드) 버튼 */
.custom-pagination .swiper-pagination-bullet-active {
  background-color: #3e93ee; /* 원하는 색상 */
}